/* 
.playfair-display-<uniquifier> {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  background-color: #eef7ff;
  color: black;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1;
  font-size: 1.2rem;
  width: 90%;
  text-align: center;
  padding: 0.5em;
  line-height: 1;
  margin: 0 auto;
}

.text {
  max-width: 1750px;
  font-weight: 500;
}

#location {
  font-weight: 500;
}
.social-links {
  font-weight: 500;
  list-style: none; /* Removes the bullet points */
  display: flex;
  justify-content: center;
  gap: 15px;
}
#utc-time {
  font-weight: 500;
}
a {
  text-decoration: none;
}

.link {
  display: inline-block;
  /* columns: black; */
  vertical-align: middle;
  color: black;
}
.svg_icon {
  width: 50px;
  height: 50px;
  vertical-align: middle; /* Aligns the SVG icon with the text */
  fill: rgb(21, 21, 24);

  /* display: inline-block; */
  /* color: blue; */
}

p,
ul {
  line-height: 1.5;
  margin-bottom: 15px;
}

footer {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.main_footer {
  max-width: 1750px;
  margin: 0 auto;
}

.footer {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  padding: 0.5em;
}

.box {
  width: 375px;
  height: 400px;
  border-radius: 90%; /* Adjust for more or less roundness */
  overflow: hidden; /* Ensures the image follows the shape */
  margin: 0 auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Optional: Adds depth */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the div properly */
  border-radius: 100%;
}

@media (min-width: 1000px) {
  .goals {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    /* margin: 0 auto; */
    gap: 5px;
  }
}
